/****************
    BODY
****************/
body{
font-family: 'Roboto Slab', serif;
line-spacing:.2em;
    }


/****************
    NAVBAR
****************/
.nav-item{
        letter-spacing :.2em;
        font-size:14px;
        text-transform:uppercase;
        }

.dropdown-item{
        letter-spacing :.2em;
        font-size:14px;
        text-transform:uppercase;

        }

/****************
    Category
****************/

.my_row_class{
        padding-top:15px;
        padding-top:15px;
        padding-bottom:20px;
        font-size:14px;
        letter-spacing:.05em;
}
.my_row_class .mx-auto{
        color:#000;
        font-size:14px;

}

.my_image{
    width:100%;
    height:auto;
    }

.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}


.my_bottom_margin{
    margin-bottom:10px;
}


.card-body h4{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em;
}

.product_image{
     height:280px;

}


pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}







/****************
    FOOTER
****************/

.my_footer{
    background-color:rgb(149,165,166,0.5);
    height:60px;
        }

.my_footer p{
        padding-top:20px;
    font-size:14px;

        }


/****************
    product
****************/


.my_product_page{

    padding-top:15px;
    padding-bottom:20px;

    letter-spacing:.05em;
}

.my_product_page .mx_auto{
    color:#000;
        font-size:14px;
}

.product_title{
    color:#000;
    font-size:18px;
    text-transform:uppercase;
    text-decoration:none;

}
.text-justify{
text-align: justify;
}

.product_price{
    font-size:20px;
}
.product_details{
     color:#000;
     font-size:14px;

}
.stock_details{
    color:red;


}

/****************
    hover
****************/



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;
}

/* product container hover */
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.7);
  zoom:110%;

}
.add_cart{
display:none;
}

.box:hover .add_cart{
    display:block;
 }



/****************
    search
****************/
.my_search_text{
    padding-top:20px;
    color:green;
}
.no_result{
color:red;
}